{
  "extends": [
  	"standard"
  ],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["src/*.js"],
      "rules": {
        "node/no-deprecated-api": "off"
      }
    }
  ]
}
